@import './var.scss';

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 40px;
  background-color: $body-bc;
  min-height: calc(100vh - 30px);
  .main {
    border-radius: 10px;
    background-color: white;
    min-height: calc(100vh - 30px);
    padding: 40px;
    position: relative;
    hr {
      position: relative;
      height: 0;
      width: calc(100% + 78px);
      left: -40px;
      margin: 40px 0;
    }
  }
}

h1 {
  color: $h1;
}

p {
  color: $p;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Proxima Nova', Tahoma, sans-serif;
}

@media (max-width: 676px) { 
  body {
    padding: 25px;
    .main {
      padding: 25px;
      hr {
        width: calc(100% + 48px);
        left: -25px;
      }
    }
  }
}

@media (max-width: 350px) { 
  body {
    padding: 15px;
    .main {
      padding: 15px;
      hr {
        width: calc(100% + 28px);
        left: -15px;
      }
    }
  }
}